<div class="row">
	<div class="col-md-9">
		<h1>Simple lock</h1>
		
		<form asp-controller="Locking" asp-action="SimpleLock" method="get">
			<input type="text" name="code" placeholder="code" class="form-control"/>
			<input type="text" name="name" placeholder="name" class="form-control"/>
			<input type="submit" value="Odeslat" class="btn btn-success" />
		</form>
		
		<h1>RedLock</h1>
		<p><a href="https://github.com/samcook/RedLock.net">RedLock.net</a></p>
		<form asp-controller="Locking" asp-action="RedLock" method="get">
			<input type="text" name="code" placeholder="code" class="form-control" />
			<input type="text" name="name" placeholder="name" class="form-control" />
			<input type="submit" value="Odeslat" class="btn btn-success" />
		</form>
	</div>
</div>