@model StatusViewModel

<div class="row">
	<div class="col-md-9">
		<h1>Distributed Cache</h1>
		<table>
			<tr>
				<td width="100">Jméno</td>
				<td>@Model.Name</td>
			</tr>
			<tr>
				<td>Čas</td>
				<td>@Model.Created</td>
			</tr>
		</table>
	</div>
</div>
