<div class="row">
	<div class="col-md-6">
		
		<h2>Quick start</h2>
		<ol>
			<li>
				<strong>instalace redis na lokální stroj (<a href="https://github.com/MicrosoftArchive/redis/releases">MSI installer zde</a>)</strong>
				<ul>
					<li>klikat jen next, nechat výchozí port a nastavit množství operační paměti</li>
					<li>zkontrolovat, zda je aktivní windows služba s názvem Redis</li>
					<li>v případě potřeby konfigurovat redis v instalačním adresáři (redis.windows.service.conf) + restart service
						<br /><br />
					</li>
				</ul>
			</li>
			<li><strong>nastavení connection stringu v appsettings.json</strong></li>
		</ol>
	</div>
	
	<div class="col-md-6">
		<h2>Demo ke stažení: <a href="http://www.odkaz.me/redis">odkaz.me/redis</a></h2>

		<a class="rkl" href="https://knowledge-base.havit.cz/2017/06/08/net-c-developer-wanted-vhodne-i-pro-pumpickare">
			<img src="https://www.havit.cz/templates/images/havit-logo.png" alt="HAVIT"/>
			<h3>.NET C# Developer wanted</h3>
			<p>Právě teď potřebujeme vývojáře. Uplatnění u nás najde jak zkušený senior, tak nadaný začátečník. Seniorům dokážeme nabídnout samostatné vedení projektů a podpůrný tým, začátečníkům či studentům naopak odborný růst v týmu, který jim pomůže zkušenosti získat. Zajímají nás jak univerzálové, tak specialisté na frontend, backend, mobily atp.</p>
		</a>
	</div>
</div>
