<div class="row">
	<div class="col-md-6">
		
		<h2>Quick start</h2>
		<ol>
			<li>
				instalace redis na lokální stroj (<a href="https://github.com/MicrosoftArchive/redis/releases">MSI installer zde</a>)
				<ul>
					<li>klikat jen next, nechat výchozí port a nastavit množství operační paměti</li>
					<li>zkontrolovat, zda je aktivní windows služba s názvem Redis</li>
					<li>v případě potřeby konfigurovat redis v instalačním adresáři (redis.windows.service.conf) + restart service</li>
				</ul>
			</li>

			<li>nastavení connection stringu v appsettings.json</li>
		</ol>
	</div>
	
	<div class="col-md-6">
		<h2>Demo ke stažení: <a href="http://www.odkaz.me/redis">odkaz.me/redis</a></h2>
	</div>
</div>
