@model ProductViewModel

<div class="row">
	<div class="col-md-9">
		<h1>@Model.Title</h1>
		<p>@Model.Description</p>
		<p>Cena: @Model.Price.ToString("C2")</p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$.get("/products/visit/@Model.ProductId", function () {
		});
	});
</script>