@model ProductHomePageModel

<div class="row">
	<div class="col-md-9">
		<h1>Nové produkty</h1>
		<p>Posledních 10 produktů dle data vložení do eshopu</p>
		<div class="row grid">
			@foreach (var item in Model.LatestProducts)
			{
				<div class="col-md-4">
					<div class="item">
						<a asp-controller="Products" asp-action="Detail" asp-data-identifier="@item.Identifier">@item.Title</a>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="col-md-3">
		<h2>Bestsellery</h2>
		<p>TOP 10 produktů dle počtu objednání</p>
		<ul>
			@foreach (var item in Model.Bestsellers)
			{
				<li>@item.Title (@item.PurchasesCount)</li>
			}
		</ul>

		<h2>Newsletter</h2>
		<div></div>
	</div>
</div>
