<div class="row">
	<div class="col-md-6">
		
		<h2>Quick start</h2>
		<ul>
			<li>instalace redis na lokální stroj</li>
		</ul>

		
	</div>
	
	
	<div class="col-md-12">
		<br/>
		<br/>
		<br/>
		<br/>
		<strong>Last update: @DateTime.Now</strong>
	</div>
</div>
